body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(158, 173, 174);
    font-family: Roboto;
}
.container {
    display: flex;
    width: 1480px;
    margin: 0 auto;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
}
.header {
    display: flex;
    width: 1280px;
    height: 189px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 63px auto 48px;
}
.header-logo {
    color: #000;
    font-size: 80px;
    text-decoration: none;
}
.header-logo-blue {
    color: #4BCAFF;
}
.top-menu-fon {
    display: flex;
    width: 1280px;
    height: 69px;
    box-sizing: border-box;
    background-color: #35444F;
    padding-left: 160px;
    padding-right: 132px;
}
.top-menu-item {
    display: flex;
    border-left: 1px solid #FFF;
    box-sizing: border-box;
    align-items: center;
}
.top-menu-item:last-of-type {
    border-right: 1px solid white;
}
.top-menu-item-link {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
}
.top-menu-item-link:hover {
    background-color: black;       
    color: aquamarine;    /*колір ховера аквамарін додала для себе для наглядності, в дизайні його немає :) */
    /* font-size: 130%;             ці властивості рухають бордери і ширину елементів, не вийшло застосувати
       text-transform: uppercase;
       font-size: 28px;*/
}
.main {
    display: flex;
    width: 1280px;
    justify-content: space-between;
}
.main-left-menu {
    display: flex;
    width: 344px;
    height: 399px;
    /* padding-left: 44px;     */
    border: 1px solid #000;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    box-sizing: border-box;
}
.main-left-menu-item {
    padding-left: 44px;
    height: 100%;
}
.main-left-menu-item:hover {
    background-color: grey;
}
.main-left-menu-item-link {
    display: flex;
    align-items: center;
    height: calc(100%);
    text-decoration: none;
    color: #495863;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
}
.main-left-menu-item-link:hover {
    color: black;
    margin-left: 20px;     
}
.main-content {
    width: 885px;
    height: 832px;
    margin-bottom: 51px;
}
.picture-wrapper {
    box-sizing: border-box;
    width: 885px;
    height: 529px;
    border: 1px solid #000;
    /* background: rgba(0, 0, 0, 0.00); */
    margin-bottom: 37px;
}
.picture {
    margin: 75px 268px 73px 297px;
    /* width: 320px;
    height: 381px;  */
}
.picture:hover {
    width: 40%;
}       /* тут hover не зовсім вийшов, якщо зараз збільшити проценти, картинкa тікає за границі wrapper*/
p {
    color: #2C2C2C;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.text-first {
    margin-bottom: 13px;
}
.footer {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
    /* padding-left: 40px;
    padding-right: 40px; */
    padding: 0 40px;
}
.footer-like-menu {
    box-sizing: border-box;
    display: flex;
    width: 875px;
    justify-content: space-evenly;
}
.footer-like-menu-item {
    text-decoration: none;
    color: #0C1927;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
}
.dark-blue:hover {
    text-decoration: underline solid #3181A6;
    color: #3181A6;
    /* font-weight: 600;            ця властивість рухає всі межі/відступи, прибрала її*/
}
.footer-copytight {
    color: #010101;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}
